.main-container {
    width: 100%;
    background-color: rgb(132, 148, 163);
    
    
}
.location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
.mail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    

}
.email-address {
    padding-left: .5rem;
    transform: translateY(-13px);
}
.icon-container {
    background-color: rgba(79, 83, 82, 0.3);
    width: 100%;
    display: absolute;
    flex-direction: row;
    align-items: center;
    
    /*TODO
        click after colour
        arrange icons
        change copyright text
    */
    
}
img[class$='-icon'] { /*img[class*='-icon']*/
    margin-left: 20px;
    margin-top: 8px;

    position: relative;
    transition: transform 0.4s ease;
    /*transform: translateY(0px);*/ /*had to take out so that I could shift the linkedin icon down*/

}

img[class$='-icon']:hover {
    transform: translateY(-5px)
  }

.e-icon {
    position: absolute;
    transform: translateY(-3px); 
}
.g-icon {
    position: absolute;
    transform: translateY(-1px); 
}

.copyright-text {
    position: absolute;
    justify-content: flex-start;
}


