.project-bio {
    /*adjust as needed this will affect ALL p tags*/
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0rem;
  }

.project-title {
    margin-top: 6rem;
}
.project-text {
    /*adjust as needed this will affect ALL p tags*/
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
  }


a {
    font-weight: 500;
    
    color: inherit; /*same colour as the font will swap if with light/dark mode*/
    /*color: #646cff;*//*remove auto blue colour*/
    text-decoration: inherit;
  }
  a:hover {
    color: #f1828d; /*TODO on hover decide the colour*/
  }

  /* ............//// Showcase styling ////......... */

.showcase-area {
    height: 50vh;
    background: linear-gradient(
        rgba(240, 240, 240, 0.144),
        rgba(255, 255, 255, 0.336)
      );
      /* url("https://i.postimg.cc/wT3TQS3V/header-image2.jpg");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  
  .main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
    color: #0d0e10;
  }

  .main-desc {
    color: #0d0e10;
  }
  .secondary {
    color: #dcd1d1;
  }

  .tertiary {
    color: #f1828d; /*colour for personal site and books AAAA idk what*/
    /*color: #588494;*/
  }

  .btn {
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    margin-left: 1em;
    text-transform: uppercase;
    font-weight: small;
  }
  
  .btn-link {
    color: #fff;
    background: #282723;
    /*
      #fefad4
      #16a083
    */
  }
  
  .btn-primary:hover {
    background: #fefad4;
    transition: background 0.3s ease-in-out;
    /*
      #fefad4
      #117964
    */
  }
  /**Styling for Pixel Gallery**/
  .window-display img{
    width: 50%; 
    margin: '5px';
  }
  .gallery img{
    width: 10%; 
    margin: '5px';
  }
  .gallery-conditions img{
    width: 30%; 
    margin: '5px';
  }

  @media (max-width: 768px) {
    .btn {
        padding: .3em .8em;
        /*display: inline-block;
        border-radius: 50px;
        margin-top: 1em;
        margin-left: 1em;*/
    }
    
      .showcase-area {
        padding: 50px;
        
        /*
        background-size: 100% 50%;
        background-position: center top;*/
      }
      .project-bio {
        
      }
  }