#root {
  /*max-width: 1280px;*/
  max-width: 100%;
  /*padding: 2rem;*/ /*This was stopping the footer from going the full width of the page*/
  margin: 0 auto;
  text-align: center;
}

.bio {
  /*adjust as needed this will affect ALL p tags*/
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.bio-home {
  /*adjust as needed this will affect ALL p tags*/
  padding-bottom: 5rem;
  padding-top: 2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  
}
.bio-box {
  /*TODO idk so i wanna do like a drop shadow border around the paragraph
    to like break it up a bit or something??*/
  
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
